
= hook(:lead_top_section, self, f: f) do
  .section
    %table
      %tr
        %td
          .label.top.req #{t :company}:
          = f.autocomplete_field :company, autocomplete_account_name_leads_path, autofocus: f.object.errors.empty?
        %td= spacer
        %td
          .label.top #{t :country_of_origin}:
          = f.country_select :country_of_origin, { priority_countries: priority_countries, include_blank: true }, { data: { placeholder: t(:select_a_country) }, class: 'select2' }
      %tr
        %td
          .label.top #{t :first_name}:
          = f.text_field :first_name
        %td= spacer
        %td
          .label.top #{t :last_name}:
          = f.text_field :last_name
      %tr
        %td
          .label #{t :email}:
          = f.text_field :email
        %td= spacer
        %td
          .label #{t :phone}:
          = phone_field_with_pattern(f, :phone)
      %tr
        %td
          .label #{t :payments_terms}:
          = f.select :payments_terms, ["no terms", "7 days", "14 days", "30 days", "90 days"], { include_blank: "-- Select --" }
        %td= spacer
        %td
          .label.req #{t :difficulty}:
          = f.select :difficulty, ["I'm Too Young to Die/Child's Play", "Hurt Me Plenty", "Ultra-Violence", "Nightmare"], { include_blank: "-- Select --" }
      - if Setting.background_info && Setting.background_info.include?(:lead)
        %tr
          %td(colspan="3")
            .label= t(:background_info) + ':'
            = f.text_area :background_info, style: "width:500px", rows: 3

      = render partial: "/shared/tags", locals: {f: f, span: 3}

      = hook(:lead_top_section_bottom, self, f: f)
