%li.highlight[rfq]
  - if rfq.accepted?
    .strip.won= t(:accepted)
  - elsif rfq.denied?
    .strip.lost= t(:denied)
  - else
    .strip.prospecting= t(:rfq_new)

  .indent
    %b= h(rfq.client)
    - if rfq.from.present? || rfq.to.present?
      %span.mar &mdash;
      = [rfq.from, rfq.to].compact.join(" → ")
    %br
    = t(:added_by, time_ago: time_ago_in_words(rfq.created_at), user: h(rfq.user&.full_name || t(:unassigned)))
