- collapsed = false
- is_locked = f.object.locked?
= subtitle :request_for_quatation_details, collapsed, t(:details)

.section
  #request_for_quatation_details{ hidden_if(collapsed) }
    %table
      %tr
        %td
          .label.top #{t :buying}:
          = f.text_field :buying, readonly: is_locked
        %td= spacer
        %td
          .label.top #{t :payment_terms}:
          = f.select :payment_terms, ["no terms", "7 days", "14 days", "30 days", "90 days"], { include_blank: "-- Select --" }, { disabled: is_locked }
      %tr
        %td
          .label #{t :transit_time}:
          = f.text_field :transit_time, readonly: is_locked
        %td= spacer
        %td
          .label #{t :preadvise}:
          = f.text_field :preadvise, readonly: is_locked
      %tr
        %td
          .label #{t :free_time}:
          = f.text_field :free_time, readonly: is_locked
        %td= spacer
      %tr
        %td
          .label #{t :demmurage_rate}:
          = f.text_field :demmurage_rate, readonly: is_locked
        %td= spacer
        %td
          .label #{t :valid_till}:
          = f.text_field :valid_till, class: ('date' unless is_locked), readonly: is_locked
      %tr
        %td
          .label #{t :accepted}:
          = f.check_box :accepted, disabled: is_locked
        %td= spacer
        %td
          .label #{t :denied}:
          = f.check_box :denied, disabled: is_locked
      %tr#accepted_details_row
        %td
          .label #{t :selling}:
          = f.text_field :selling, type: 'number', step: 'any', readonly: is_locked
        %td= spacer
      %tr#accepted_details_row_2
        %td
          .label #{t :income_payment_to}:
          = f.select :income_payment_to, ["LV", "KZ", "TR"], { include_blank: "-- Select --" }, { disabled: is_locked }
        %td= spacer
        %td
          .label #{t :outcome_payment_from}:
          = f.select :outcome_payment_from, ["LV", "KZ", "TR"], { include_blank: "-- Select --" }, { disabled: is_locked }
      %tr#reason_row
        %td(colspan="3")
          .label #{t :reason}:
          = f.text_field :reason, style: "width:100%", readonly: is_locked

:javascript
  $(document).ready(function() {
    var isLocked = #{is_locked ? 'true' : 'false'};
    var acceptedCheckbox = $('#request_for_quatation_accepted');
    var acceptedDetailsRow = $('#accepted_details_row');
    var acceptedDetailsRow2 = $('#accepted_details_row_2');
    var deniedCheckbox = $('#request_for_quatation_denied');
    var reasonRow = $('#reason_row');

    function updateCheckboxes() {
      if (isLocked) return;
      if (acceptedCheckbox.prop('checked')) {
        deniedCheckbox.prop('disabled', true);
      } else if (deniedCheckbox.prop('checked')) {
        acceptedCheckbox.prop('disabled', true);
      } else {
        acceptedCheckbox.prop('disabled', false);
        deniedCheckbox.prop('disabled', false);
      }
    }

    function toggleAcceptedDetails() {
      if (acceptedCheckbox.prop('checked')) {
        acceptedDetailsRow.show();
        acceptedDetailsRow2.show();
      } else {
        acceptedDetailsRow.hide();
        acceptedDetailsRow2.hide();
      }
      updateCheckboxes();
    }

    function toggleReason() {
      if (deniedCheckbox.prop('checked')) {
        reasonRow.show();
      } else {
        reasonRow.hide();
      }
      updateCheckboxes();
    }

    toggleAcceptedDetails();
    toggleReason();
    acceptedCheckbox.on('change', toggleAcceptedDetails);
    deniedCheckbox.on('change', toggleReason);
  });
