- collapsed = false
= subtitle :request_for_quatation_details, collapsed, t(:details)

.section
  #request_for_quatation_details{ hidden_if(collapsed) }
    %table
      %tr
        %td
          .label.top #{t :price_netto}:
          = f.text_field :price_netto
        %td= spacer
        %td
          .label.top #{t :payment_terms}:
          = f.select :payment_terms, ["no terms", "7 days", "14 days", "30 days", "90 days"], { include_blank: "-- Select --" }
      %tr
        %td
          .label #{t :transit_time}:
          = f.text_field :transit_time
        %td= spacer
        %td
          .label #{t :preadvise}:
          = f.text_field :preadvise
      %tr
        %td
          .label #{t :free_time}:
          = f.text_field :free_time
        %td= spacer
        %td
          .label #{t :demmurage_rate}:
          = f.text_field :demmurage_rate
      %tr
        %td
          .label #{t :accepted}:
          = f.check_box :accepted
      %tr#accepted_details_row
        %td
          .label #{t :total_price}:
          = f.text_field :total_price, type: 'number', step: 'any'
        %td= spacer
      %tr#accepted_details_row_2
        %td
          .label #{t :income_payment_to}:
          = f.select :income_payment_to, ["LV", "KZ", "TR"], { include_blank: "-- Select --" }
        %td= spacer
        %td
          .label #{t :outcome_payment_from}:
          = f.select :outcome_payment_from, ["LV", "KZ", "TR"], { include_blank: "-- Select --" }
      %tr
        %td
          .label #{t :denied}:
          = f.check_box :denied
      %tr#reason_row
        %td(colspan="3")
          .label #{t :reason}:
          = f.text_field :reason, style: "width:100%"

:javascript
  $(document).ready(function() {
    var acceptedCheckbox = $('#request_for_quatation_accepted');
    var acceptedDetailsRow = $('#accepted_details_row');
    var acceptedDetailsRow2 = $('#accepted_details_row_2');
    var deniedCheckbox = $('#request_for_quatation_denied');
    var reasonRow = $('#reason_row');

    function toggleAcceptedDetails() {
      if (acceptedCheckbox.prop('checked')) {
        acceptedDetailsRow.show();
        acceptedDetailsRow2.show();
      } else {
        acceptedDetailsRow.hide();
        acceptedDetailsRow2.hide();
      }
    }

    function toggleReason() {
      if (deniedCheckbox.prop('checked')) {
        reasonRow.show();
      } else {
        reasonRow.hide();
      }
    }

    toggleAcceptedDetails();
    toggleReason();
    acceptedCheckbox.on('change', toggleAcceptedDetails);
    deniedCheckbox.on('change', toggleReason);
  });
