%li.highlight[request_for_quatation]
  - if request_for_quatation.accepted
    .strip.accepted= t(:accepted)
  - elsif request_for_quatation.denied
    .strip.denied= t(:denied)
  - else
    .strip.new= t(:rfq_new)

  .indent
    = link_to_if can?(:update, request_for_quatation), request_for_quatation.client, edit_request_for_quatation_path(request_for_quatation), remote: true
    %tt
      - if request_for_quatation.from.present? || request_for_quatation.to.present?
        = [ISO3166::Country[request_for_quatation.from]&.translations&.fetch(I18n.locale.to_s, nil) || ISO3166::Country[request_for_quatation.from]&.common_name || request_for_quatation.from, ISO3166::Country[request_for_quatation.to]&.translations&.fetch(I18n.locale.to_s, nil) || ISO3166::Country[request_for_quatation.to]&.common_name || request_for_quatation.to].compact.join(' -> ')
      - if request_for_quatation.buying.present?
        &ndash;
        = number_to_currency(request_for_quatation.buying, unit: '€')

    - if request_for_quatation.author.present?
      %dt{style: "padding: 2px 0px 0px 0px"}
        %b
          #{t :author}:
          = request_for_quatation.author.full_name

    - if request_for_quatation.comment.present?
      %dt{style: "padding: 2px 0px 0px 0px; color: #666;"}
        %b #{t :comment}:
        %i= request_for_quatation.comment
    - if request_for_quatation.reason.present?
      %dt{style: "padding: 2px 0px 0px 0px; color: #bf616a;"}
        %b #{t :reason}:
        = request_for_quatation.reason

    - if request_for_quatation.created_at
      %dt{style: "padding: 2px 0px 0px 0px"}
        %b Date:
        = l(request_for_quatation.created_at, format: :long)

    = hook(:request_for_quatation_bottom, self, request_for_quatation: request_for_quatation)
