.panel#summary
  .caption= t :request_for_quatation_summary
  %li
    %dt= @request_for_quatation.request_type
    %tt #{t :request_type}
  %li
    %dt= @request_for_quatation.readiness_date
    %tt #{t :readiness_date}
  %li
    %dt= ISO3166::Country[@request_for_quatation.from]&.translations&.fetch(I18n.locale.to_s, nil) || ISO3166::Country[@request_for_quatation.from]&.common_name || @request_for_quatation.from
    %tt #{t :from}
  %li
    %dt= ISO3166::Country[@request_for_quatation.to]&.translations&.fetch(I18n.locale.to_s, nil) || ISO3166::Country[@request_for_quatation.to]&.common_name || @request_for_quatation.to
    %tt #{t :to}
  %li
    %dt= number_to_currency(@request_for_quatation.price_netto, unit: '€')
    %tt #{t :price_netto}
  = render "fields/sidebar_show", asset: @request_for_quatation

  .caption= t :other
  %li
    %dt= @request_for_quatation.user.try(:full_name)
    %tt #{t :created_by}
