.filters#filters
  .caption= t :request_for_quatation_statuses
  .check_box
    %div{style: "float:right;"}
      %b= @request_for_quatation_status_total[:all]
    %b #{t :total_request_for_quatations}

  - [:rfq_new, :accepted, :denied].each do |status|
    .check_box
      %div{style: "float:right;"}
        = @request_for_quatation_status_total[status]
      = entity_filter_checkbox(:status, status, @request_for_quatation_status_total[status])
      = label_tag(status, t(status))
