- collapsed = false
= subtitle :request_for_quatation_info, collapsed, t(:info)

.section
  #request_for_quatation_info{ hidden_if(collapsed) }
    %table
      %tr
        %td
          .label.top.req #{t :client}:
          = f.text_field :client, autofocus: true
        %td= spacer
        %td
          .label.top #{t :request_type}:
          = f.select :request_type, ["Budget", "Bidding", "Spot", "Firm job"], { include_blank: "-- Select --" }
      %tr
        %td
          .label #{t :rfq_from}:
          = f.text_field :from
        %td= spacer
        %td
          .label #{t :rfq_to}:
          = f.text_field :to
      %tr
        %td
          .label #{t :readiness_date}:
          = f.date_field :readiness_date
        %td= spacer
        %td
          .label #{t :what}:
          = f.select :what, ["LTL", "LCL", "FTL", "OOG", "AIR", "SEA", "CONTAINER", "PROJECT"], {include_blank: "-- Select --"}
      %tr
        %td(colspan="3")
          .label #{t :comment}:
          = f.text_area :comment, rows: 2
