- collapsed = false
= subtitle :request_for_quatation_info, collapsed, t(:info)

.section
  #request_for_quatation_info{ hidden_if(collapsed) }
    %table
      %tr
        %td
          .label.top #{t :author}:
          = f.select :author_id, user_options_for_select(all_users, f.object.author || f.object.user || current_user), { include_blank: t(:unassigned) }, { class: 'select2' }
        %td= spacer
        %td= spacer
      %tr
        %td
          .label.top.req #{t :client}:
          = f.text_field :client, autofocus: true
        %td= spacer
        %td
          .label.top #{t :request_type}:
          = f.select :request_type, ["Budget", "Bidding", "Spot", "Firm job"], { include_blank: "-- Select --" }
      %tr
        %td
          .label #{t :rfq_from}:
          = f.country_select :from, { priority_countries: priority_countries, include_blank: true }, { data: { placeholder: t(:select_a_country) }, class: 'select2' }
        %td= spacer
        %td
          .label #{t :rfq_to}:
          = f.country_select :to, { priority_countries: priority_countries, include_blank: true }, { data: { placeholder: t(:select_a_country) }, class: 'select2' }
      %tr
        %td
          .label #{t :readiness_date}:
          = f.date_field :readiness_date
        %td= spacer
        %td
          .label #{t :what}:
          = f.select :what, ["LTL", "LCL", "FTL", "OOG", "AIR", "SEA", "CONTAINER", "PROJECT"], {include_blank: "-- Select --"}
      %tr
        %td(colspan="3")
          .label #{t :comment}:
          = f.text_area :comment, rows: 2
