%li.highlight[signed_job]
  - if signed_job.doc_id.present?
    .strip.request_for_quatation= signed_job.doc_id
  - else
    .strip.none= t(:none)

  .indent
    - if signed_job.doc_id.present?
      = link_to_if can?(:read, signed_job), signed_job.doc_id, edit_signed_job_path(signed_job), remote: true
    - else
      = signed_job.id

    %tt
      - if signed_job.request_for_quatation
        - if signed_job.request_for_quatation.from.present? || signed_job.request_for_quatation.to.present?
          &ndash;
          = [ISO3166::Country[signed_job.request_for_quatation.from]&.translations&.fetch(I18n.locale.to_s, nil) || ISO3166::Country[signed_job.request_for_quatation.from]&.common_name || signed_job.request_for_quatation.from, ISO3166::Country[signed_job.request_for_quatation.to]&.translations&.fetch(I18n.locale.to_s, nil) || ISO3166::Country[signed_job.request_for_quatation.to]&.common_name || signed_job.request_for_quatation.to].compact.join(' -> ')

      - if signed_job.assign_to_manager.present?
        &ndash;
        %span.manager
          = User.find_by_id(signed_job.assign_to_manager).try(:full_name)

      - if signed_job.assign_to_procurement.present?
        &ndash;
        %span.procurement
          = User.find_by_id(signed_job.assign_to_procurement).try(:full_name)
