%li.highlight[signed_job]
  - if signed_job.status.present?
    .strip{class: signed_job.status}= t("sj_#{signed_job.status}")
  - else
    .strip.new_sj= t(:new_sj)

  .indent
    - if signed_job.doc_id.present?
      = link_to_if can?(:read, signed_job), signed_job.doc_id, edit_signed_job_path(signed_job), remote: true
    - else
      = signed_job.id

    %dt{style: "padding: 2px 0px 0px 0px"}
      %span.income-total{style: "color: #a3be8c;"}
        in:
        = number_to_currency(signed_job.additional_buying_total, unit: '€')

    %dt{style: "padding: 0px 0px 0px 0px"}
      %span.outcome-total{style: "color: #bf616a;"}
        out:
        = number_to_currency(signed_job.additional_selling_total, unit: '€')

      - if signed_job.assign_to_manager.present?
        &ndash;
        %b Manager:
        = User.find_by_id(signed_job.assign_to_manager).try(:full_name)
      - if signed_job.assign_to_procurement.present?
        &ndash;
        %b Procurement:
        = User.find_by_id(signed_job.assign_to_procurement).try(:full_name)
