%li.highlight[signed_job]
  - if signed_job.doc_id.present?
    .strip.request_for_quatation= signed_job.doc_id
  - else
    .strip.none= t(:none)

  .indent
    - if signed_job.doc_id.present?
      = link_to_if can?(:read, signed_job), signed_job.doc_id, edit_signed_job_path(signed_job), remote: true
    - else
      = signed_job.id

    %div.totals{style: "margin-top: 5px; font-family: monospace;"}
      %div.income-total{style: "color: #a3be8c;"}
        IN:
        = number_to_currency(signed_job.additional_income_total, unit: '€')
      %div.outcome-total{style: "color: #bf616a;"}
        OUT:
        = number_to_currency(signed_job.additional_outcome_total, unit: '€')

      - if signed_job.assign_to_manager.present?
        &ndash;
        %span.manager
          = User.find_by_id(signed_job.assign_to_manager).try(:full_name)

      - if signed_job.assign_to_procurement.present?
        &ndash;
        %span.procurement
          = User.find_by_id(signed_job.assign_to_procurement).try(:full_name)
