- if @signed_job.request_for_quatation
  - rfq = @signed_job.request_for_quatation

  - collapsed = true
  = subtitle :request_for_quatation_info, collapsed, 'Sales'

  .section
    #request_for_quatation_info{ hidden_if(collapsed) }
      %table
        %tr
          %td
            .label.top{style: "font-weight: bold;"} #{t :client}:
            = rfq.client
          %td= spacer
          %td
            .label.top{style: "font-weight: bold;"} #{t :request_type}:
            = rfq.request_type
        %tr
          %td
            .label{style: "font-weight: bold;"} #{t :rfq_from}:
            = ISO3166::Country[rfq.from]&.translations&.fetch(I18n.locale.to_s, nil) || ISO3166::Country[rfq.from]&.common_name || rfq.from
          %td= spacer
          %td
            .label{style: "font-weight: bold;"} #{t :rfq_to}:
            = ISO3166::Country[rfq.to]&.translations&.fetch(I18n.locale.to_s, nil) || ISO3166::Country[rfq.to]&.common_name || rfq.to
        %tr
          %td
            .label{style: "font-weight: bold;"} #{t :readiness_date}:
            = rfq.readiness_date
          %td= spacer
          %td
            .label{style: "font-weight: bold;"} #{t :what}:
            = rfq.what
        - if rfq.comment.present?
          %tr
            %td{colspan: 3}
              .label{style: "font-weight: bold;"} #{t :comment}:
              = rfq.comment
        - if rfq.author.present?
          %tr
            %td{colspan: 3}
              .label{style: "font-weight: bold;"} #{t :author}:
              = rfq.author.full_name

  - collapsed = true
  = subtitle :request_for_quatation_details, collapsed, t(:details)

  .section
    #request_for_quatation_details{ hidden_if(collapsed) }
      %table
        %tr
          %td
            .label.top{style: "font-weight: bold;"} #{t :buying}:
            = number_to_currency(rfq.buying, unit: '€')
          %td= spacer
          %td
            .label.top{style: "font-weight: bold;"} #{t :payment_terms}:
            = rfq.payment_terms
        %tr
          %td
            .label{style: "font-weight: bold;"} #{t :transit_time}:
            = rfq.transit_time
          %td= spacer
          %td
            .label{style: "font-weight: bold;"} #{t :accepted}:
            = rfq.accepted ? t(:yes) : t(:no)
        - if rfq.preadvise.present? && rfq.free_time.present?
          %tr
            %td
              .label{style: "font-weight: bold;"} #{t :preadvise}:
              = rfq.preadvise
            %td= spacer
            %td
              .label{style: "font-weight: bold;"} #{t :free_time}:
              = rfq.free_time
        - elsif rfq.preadvise.present?
          %tr
            %td
              .label{style: "font-weight: bold;"} #{t :preadvise}:
              = rfq.preadvise
        - elsif rfq.free_time.present?
          %tr
            %td
              .label{style: "font-weight: bold;"} #{t :free_time}:
              = rfq.free_time
        - if rfq.demmurage_rate.present? && rfq.valid_till.present?
          %tr
            %td
              .label{style: "font-weight: bold;"} #{t :demmurage_rate}:
              = rfq.demmurage_rate
            %td= spacer
            %td
              .label{style: "font-weight: bold;"} #{t :valid_till}:
              = rfq.valid_till
        - elsif rfq.demmurage_rate.present?
          %tr
            %td
              .label{style: "font-weight: bold;"} #{t :demmurage_rate}:
              = rfq.demmurage_rate
        - elsif rfq.valid_till.present?
          %tr
            %td
              .label{style: "font-weight: bold;"} #{t :valid_till}:
              = rfq.valid_till
        %tr
          %td
            .label{style: "font-weight: bold;"} #{t :denied}:
            = rfq.denied ? t(:yes) : t(:no)
          %td= spacer
        - if rfq.selling.present? && rfq.income_payment_to.present?
          %tr
            %td
              .label.top{style: "font-weight: bold;"} #{t :selling}:
              = number_to_currency(rfq.selling, unit: '€')
            %td= spacer
            %td
              .label.top{style: "font-weight: bold;"} #{t :income_payment_to}:
              = rfq.income_payment_to
        - elsif rfq.selling.present?
          %tr
            %td
              .label.top{style: "font-weight: bold;"} #{t :selling}:
              = number_to_currency(rfq.selling, unit: '€')
        - elsif rfq.income_payment_to.present?
          %tr
            %td
              .label.top{style: "font-weight: bold;"} #{t :income_payment_to}:
              = rfq.income_payment_to
        - if rfq.outcome_payment_from.present?
          %tr
            %td
              .label.top{style: "font-weight: bold;"} #{t :outcome_payment_from}:
              = rfq.outcome_payment_from
            %td= spacer
        - if rfq.reason.present?
          %tr
            %td{colspan: 3}
              .label{style: "font-weight: bold;"} #{t :reason}:
              = rfq.reason
