- collapsed = false
- edit_mode = local_assigns.fetch(:edit, false)
= subtitle :signed_job_info, collapsed, t(:signed_job_info)

.section
  #signed_job_info{ hidden_if(collapsed) }
    - if edit_mode
      - f = local_assigns[:f]
      %table
        %tr
          %td
            .label.top #{t :doc_id}:
            = f.text_field :doc_id, readonly: true
          %td= spacer
          %td
            .label.top #{t :status}:
            = f.select :status, [[t(:sj_preparation), 'preparation'], [t(:sj_in_progress), 'in_progress'], [t(:sj_completed), 'completed'], [t(:sj_canceled), 'canceled']], { include_blank: t(:select_blank) }, { class: 'select2' }
        %tr
          %td{colspan: 3}
            #additional_expenses_container
              = f.simple_fields_for :additional_expenses do |af|
                %table.expense-group{style: "width: 100%; border-collapse: collapse; margin-bottom: 25px;"}
                  = render 'additional_expense_fields', f: af
            - if @signed_job.additional_expenses.size < 20
              = link_to t(:add_additional_expense), "#", onclick: "crm.add_additional_expense(); return false;", class: 'btn btn-secondary', id: 'add_expense_button', style: "display: inline-block; margin-top: 10px;"

            #additional_expense_template{style: 'display:none'}
              %table.expense-group{style: "width: 100%; border-collapse: collapse; margin-bottom: 25px;"}
                = f.simple_fields_for :additional_expenses, AdditionalExpense.new, child_index: 'new_additional_expenses' do |af|
                  = render 'additional_expense_fields', f: af
        %tr
          %td
            .label #{t :CMR}:
            = f.text_field :CMR
          %td= spacer
          %td
            .label #{t :file}:
            = f.file_field :file, id: 'signed_job_file_input'
            .file-info{style: "font-size: 0.9em; color: #666; margin-top: 5px;"}
              %i.fa.fa-info-circle
              Max size: 10MB. Allowed types: pdf, doc, docx, jpg, jpeg, txt
            #file_error_message{style: "color: #d9534f; margin-top: 5px; display: none;"}
            - if @signed_job.file.present?
              .current-file{style: "margin-top: 10px;"}
                #{t :current_file}:
                = link_to File.basename(@signed_job.file), "/#{@signed_job.file}", target: "_blank"
        %tr
          %td
            .label #{t :end_of_time_project}:
            = f.text_field :end_of_time_project, class: 'date'
          %td= spacer
          %td
            .label #{t :created_at}:
            = text_field_tag :created_at, l(@signed_job.created_at, format: :long), readonly: true
        %tr
          %td
            .label #{t :incoming_invoice}:
            = f.select :incoming_invoice, [[t(:yes_button), 'yes'], [t(:no_button), 'no']], { include_blank: t(:select_blank) }, { class: 'select2' }
        %tr
          %td
            .label #{t :incoming_additional_invoice}:
            = f.select :incoming_additional_invoice, [[t(:yes_button), 'yes'], [t(:no_button), 'no']], { include_blank: t(:select_blank) }, { class: 'select2' }
        %tr
          %td
            .label #{t :outcoming_invoice}:
            = f.select :outcoming_invoice, [[t(:yes_button), 'yes'], [t(:no_button), 'no']], { include_blank: t(:select_blank) }, { class: 'select2' }
    - else
      %table
        %tr
          %td
            .label.top #{t :doc_id}:
            = text_field_tag :doc_id, @signed_job.doc_id, readonly: true
          %td= spacer
          %td
            .label.top #{t :status}:
            = text_field_tag :status, @signed_job.status, readonly: true
        - @signed_job.additional_expenses.each do |expense|
          %tr
            %td
              .label #{t :additional_expense_label}
              = text_field_tag :label, expense.label, readonly: true, style: "width: 250px"
            %td
              .label #{t :qty_incoming}
              = text_field_tag :qty_incoming, expense.qty_incoming, readonly: true, style: "width: 60px"
            %td
              .label #{t :incoming_price}
              = text_field_tag :incoming_price, expense.incoming_price, readonly: true, style: "width: 120px"
          %tr{style: "border-bottom: 1px solid #ddd; padding-bottom: 5px;"}
            %td
            %td
              .label #{t :qty_outcoming}
              = text_field_tag :qty_outcoming, expense.qty_outcoming, readonly: true, style: "width: 60px"
            %td
              .label #{t :outcoming_price}
              = text_field_tag :outcoming_price, expense.outcoming_price, readonly: true, style: "width: 120px"
        %tr
          %td
            .label #{t :CMR}:
            = text_field_tag :CMR, @signed_job.CMR, readonly: true
        %tr
          %td
            .label #{t :file}:
            - if @signed_job.file.present?
              = link_to @signed_job.file.split('/').last, "/#{@signed_job.file}", target: "_blank", class: "file-link"
            - else
              = text_field_tag :file, @signed_job.file, readonly: true
          %td= spacer
          %td
            .label #{t :manager}:
            = text_field_tag :assign_to_manager, User.find_by_id(@signed_job.assign_to_manager).try(:full_name), readonly: true
        %tr
          %td
            .label #{t :procurement}:
            = text_field_tag :assign_to_procurement, User.find_by_id(@signed_job.assign_to_procurement).try(:full_name), readonly: true
          %td= spacer
          %td
            .label #{t :end_of_time_project}:
            = text_field_tag :end_of_time_project, @signed_job.end_of_time_project, readonly: true
        %tr
          %td
            .label #{t :created_at}:
            = text_field_tag :created_at, l(@signed_job.created_at, format: :long), readonly: true
          %td= spacer
          %td
        %tr
          %td
            .label #{t :incoming_invoice}:
            = text_field_tag :incoming_invoice, @signed_job.incoming_invoice, readonly: true
        %tr
          %td
            .label #{t :incoming_additional_invoice}:
            = text_field_tag :incoming_additional_invoice, @signed_job.incoming_additional_invoice, readonly: true
        %tr
          %td
            .label #{t :outcoming_invoice}:
            = text_field_tag :outcoming_invoice, @signed_job.outcoming_invoice, readonly: true
