- collapsed = false
= subtitle :signed_job_totals, collapsed, t(:total)

.section
  #signed_job_totals{ hidden_if(collapsed) }
    %table
      %tr
        %td
          .label #{t :additional_buying_total}:
          %b= number_to_currency(@signed_job.additional_buying_total, unit: '€')
        %td= spacer
        %td
          .label #{t :additional_selling_total}:
          %b= number_to_currency(@signed_job.additional_selling_total, unit: '€')
